{% extends "layout.html" %}

{% set pageId = "page-search-results" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/deliveryman-dashboard.css">
{% endblock styles %}

{% block content %}
    <body>
        {% include "partials/page-header-deliveryman-dashboard.html" %}
        <main>
            <div class="dashboard">
                <h4>
                    <a href="/deliveryman-dashboard-history"><strong>Entregas</strong></a>
                </h4>
                <h4>
                    <a href="/deliveryman-profile"><strong>Meu Perfil</strong></a>
                </h4>
            </div>
            <div class="cards">
                <div class="card">
                    <img src="../assets/clock-delivery.svg" alt="Novo Pedido de Entrega">
                    <h1>Novo Pedido de Entrega</h1>
                    <h3>Supermercado Z</h3>
                    <p>
                        Maceió, Alagoas
                        <br/>
                        Guilherme Gemballa, Jardim América
                        <br/>
                        Nº 260
                        <br/>
                        Data: 06/06/2020
                        <br/>
                        Hora: 11:26
                    </p>
                    <div class="button">
                        <button type="submit" class="cancelar">Cancelar</button>
                        <button type="submit" class="aceitar">Aceitar Solicitação de Entrega</button>
                    </div>
                </div>
            </div>
        </main>
    </body>
{% endblock content %}