{% extends "layout.html" %}

{% set pageId = "page-search-results" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/deliveryman-dashboard.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header.html" %}
    <main>
        <div class="dashboard">
            <h4>
                <a href="/deliveryman-edit"><strong>Editar Perfil</strong></a>
            </h4>
        </div>
        <div class="cards2">
            <div class="card3">
                <img src="../assets/account-icon.svg" alt="" class="account-icon">
                <h1>Seus Dados</h1>
                <p>
                    Username: joaozinhomotora
                    <br/>
                    Email: joaozinhomotora@mail.com
                    <br/>
                    Nome: João da Silva
                    <br/>
                    Cidade: Maceió, Alagoas
                    <br/>
                    CPF: 111.222.333-44
                </p>
            </div>
            <div class="card2">
                <img src="https://lh3.googleusercontent.com/proxy/2AsNzMvxboq3oM_fDmNTAmU_eL1Ckg9mRNet48PHIlOT_49e4O6CQH8-A4BI2iv1fxjFkper2B-PpQOXuSBez7Twi-MljnXhQ608ev9-cmKATz3x6xK-MPFdYn_jI9rli-__MZ_oVzNohg" alt="">
                <h1>Dados do seu veículo</h1>
                <p>
                    Placa: RRRR-3333
                    <br/>
                    Marca: Chevrolet
                    <br/>
                    Modelo: Celta
                    <br/>
                    Cor: Preto
                    <br/>
                    Ano: 2008
                </p>
            </div>
        </div>
    </main>
{% endblock content %}