{% extends "layout.html" %}

{% set pageId = "page-search-results" %}

{% block styles %}
    <link rel="stylesheet" href="/styles/deliveryman-dashboard.css">
{% endblock styles %}

{% block content %}
    {% include "partials/page-header-deliveryman-dashboard.html" %}
    <main>
        <div class="dashboard">
            <h4>
                <a href="#"><strong>Pedidos</strong></a>
            </h4>
            <h4>
                <a href="#"><strong>Produtos</strong></a>
            </h4>
            <h4>
                <a href="#"><strong>Marcas</strong></a>
            </h4>
            <h4>
                <a href="#"><strong>Categorias</strong></a>
            </h4>
            <h4>
                <a href="#"><strong>Meu Perfil</strong></a>
            </h4>
        </div>
        
        <div class="cards m-t-40">
            <h1>Listagem de pedidos</h1>
        </div>
        
        <div class="cards m-t-40">
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Pedido Pendente</h1>
                <h3>Jão de Souza</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
                <button class="btn-primary">Aceitar pedido</button>
                <button class="btn-danger">Rejeitar pedido</button>
            </div>
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Elaborando pedido</h1>
                <h3>Supermercado Z</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
                <button class="btn-primary">Solicitar entregador</button>
            </div>
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Entrega em andamento</h1>
                <h3>Supermercado Z</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
            </div>
        </div>
        <div class="cards m-t-40">
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Entrega Realizada</h1>
                <h3>Supermercado Z</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
            </div>
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Entrega Realizada</h1>
                <h3>Supermercado Z</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
            </div>
            <div class="card">
                <img src="../assets/clock-delivery.svg" alt="Entrega Em andamento ou em espera">
                <h1>Pedido Cancelado</h1>
                <h3>Supermercado Z</h3>
                <p>
                    Feedback: *****
                    <br/>
                    Maceió, Alagoas
                    <br/>
                    Guilherme Gemballa, Jardim América
                    <br/>
                    Nº 260
                    <br/>
                    Data: 06/06/2020
                    <br/>
                    Hora: 11:26
                </p>
            </div>
        </div>
    </main>
{% endblock content %}