<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Escolha o tipo da sua conta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/cadastro-cliente">
            <div class="search field">
                <button type="submit">
                    <a href="/cadastro-cliente"></a>
                    <label for="cliente">Conta Cliente</label>
                </button>
            </div>
        </form>
        <form action="/cadastro-entregador">
            <div class="search field">
                <button type="submit">
                    <a href="/cadastro-entregador"></a>
                    <label for="entregador">Conta Entregador</label>
                </button>
            </div>
        </form>
        <form action="/cadastro-marketplace">
            <div class="search field">
                <button type="submit">
                    <a href="/cadastro-marketplace"></a>
                    <label for="mercado">Conta Mercado</label>
                </button>
            </div>
        </form>
    </div>
</div>