<div id="login-modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Login</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <div class="search field">
                <input type="email" name="e-mail" placeholder="E-mail" required="required">
            </div>
            <div class="search field">
                <input type="password" name="senha" placeholder="Senha" required="required">
            </div>
            <div>
                <button>
                    <label for="entrar">Entrar</label>
                </button>
            </div>
        </form>
    </div>
</div>