#page-search-results {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

#page-search-results header {
    margin-top: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#page-search-results header img {
    width: 40px;
    height: 50px;
}

#page-search-results header a {
    color: var(--title-color);
    font-weight: bold;
    display: flex;
    align-items: center;
}

#page-search-results header a span {
    margin-right: 16px;
    background-image: url('../assets/log-out.svg');
    width: 20px;
    height: 24px;
    display: flex;
}

main {
    margin: 48px;
}
main .dashboard {
    display: inline-flex;
    justify-content: center;
    top: 0;
    width: 100%;
    margin-left: 10;
}

main h4 {
    font-weight: normal;
    font-family: Roboto, sans-serif;
    margin-bottom: 32px;
    margin-right: 50px;
    margin-left: 50px;
    
}

main .cards {
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 24px;
}

main .card img {
    width: 100%;
    height: 150px;
    border-radius: 8px 8px 0 0;
}

main .card h1 {
    margin-top: 32px;
    font-size: 30px;
    line-height: 41px;
    color: #322153;
}

main .card h3 {
    margin: 24px 0;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 24px;
    line-height: 34px;
    color: #00acea;
}

main .card p {
    font-size: 16px;
    line-height: 26px;
    color: #6c6c80;
}

main .card3 {
    margin-top: 100px;
    justify-content: space-between;
}

main .card3 h1 {
    margin-top: 32px;
    font-size: 32px;
    line-height: 41px;
    color: #322153;
}

main .card3 p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
    color: #6c6c80;
}

main .cards2 {
    margin-left: 100px;
    display: grid;
    grid-template-columns:  1fr 1fr 0fr;
    gap: 24px;
}

main .card2 {
    margin-top: 100px;
    justify-content: space-between;
}

main .card2 h1 {
    margin-top: 32px;
    font-size: 32px;
    line-height: 41px;
    color: #322153;
}

main .card2 p {
    margin-top: 15px;
    font-size: 18px;
    line-height: 26px;
    color: #6c6c80;
}

main .card3 img {
    width: 80%;
    height: 200px;
    object-fit: none;
    border-radius: 8px 8px 0 0;
}

main .card2 img {
    width: 80%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}

body {
    background-color: white;
}

body::after {
    content: "";
    position: fixed;
    background-color: #f0f0f5;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 17rem;
    z-index: -1;
}

div .button {
    display: flex;
    justify-content: space-between;
}

.aceitar {
    width: 200px;
    height: 56px;
    background-color: #00acea;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 0;
    margin-top: 25px;
    transition: background-color 400ms;
}

.aceitar:hover {
    background-color: #00efd1;
}

.cancelar {
    width: 100px;
    height: 56px;
    background-color: #eb4731;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border: 15px;
    margin-top: 25px;
    transition: background-color 400ms;
}

.cancelar:hover {
    background-color: #FF0000;
    color: white;
    border: 20px;
    border-color: #eb4731;
}