:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

.m-t-40{
    margin-top: 100px;
}

.btn-primary {
    width: 120px;
    height: 50px;
    background-color: #00acea;
    border: 0;
    color: white;
    font-size: 15px;
    border-radius: 8px 8px 8px 8px;
    transition: 400ms;
}

.btn-primary:hover {
    background-color: #00efcf;
}

.btn-danger {
    width: 120px;
    height: 50px;
    background-color: #eb4731;
    border: 0;
    color: white;
    font-size: 15px;
    border-radius: 8px 8px 8px 8px;
}

.btn-danger:hover {
    background-color: #FF0000;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}


.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb
}
